USE [master]
GO
/****** Object:  Database [QLTTTC]    Script Date: 08/05/2024 2:02:46 CH ******/
CREATE DATABASE [QLTTTC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTTTC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLTTTC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTTTC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLTTTC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTTTC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTTTC]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_Hoadon]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_Hoadon] (@MaKH char(10))
RETURNS @bang TABLE(
	MAKH CHAR(10),
	THANHTOAN INT) AS
	BEGIN
		INSERT INTO @bang SELECT KH.MAKH, SUM(THANHTIEN)
		FROM KHACHHANG KH
		JOIN PHIEUKHAM PK ON KH.MAKH = PK.MAKH
		JOIN PHIEUTIEM PT ON PK.MAPK = PT.MAPK
		JOIN HOADON HD ON PT.MAPT = HD.MAPT
		WHERE KH.MAKH = @MaKH
		GROUP BY KH.MAKH
		RETURN
	END
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_Vacxin]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_Vacxin](@MaVX char(10))
RETURNS int 
AS
BEGIN
	DECLARE @Tong int
	Select @Tong = (SUM(SLN)+SUM(SLTK)-SUM(SLX))
	from NHAP_VX NV, VACXIN V, HD_VX HV
	where NV.MAVX = V.MAVX AND V.MAVX = HV.MAVX
	RETURN @Tong
END
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_VacxinHienTa]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_VacxinHienTa](@MaVX char(10))
RETURNS int 
AS
BEGIN
	DECLARE @Tong int
	Select @Tong = (SUM(SLN)+SUM(SLTK)-SUM(SLX))
	from NHAP_VX NV, VACXIN V, HD_VX HV
	where NV.MAVX = V.MAVX AND V.MAVX = HV.MAVX
	RETURN @Tong
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetTotalVaccineDosesForPatient]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetTotalVaccineDosesForPatient](@MAKH CHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @TotalDoses INT;
    SELECT @TotalDoses = COUNT(*)
    FROM PHIEUTIEM
    WHERE MAPK = (SELECT MAPK FROM PHIEUKHAM WHERE MAKH = @MAKH)
	GROUP BY MAPK
    RETURN @TotalDoses;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[hoaDonTheoNgay]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--HAM XEM HOA DON THEO NGAY, NEU NGAY NULL HOAC DE TRONG THI
CREATE FUNCTION [dbo].[hoaDonTheoNgay](@NgayHD DATE)
RETURNS @bangthongke TABLE(
    NgayHD DATE,
    MaVX CHAR(10),
    TenVX NVARCHAR(50),
    Soluongban INT)
AS
BEGIN
    IF (@NgayHD IS NULL) OR (@NgayHD = '')
    BEGIN
        INSERT INTO @bangthongke
        SELECT H.THOIGIAN, V.MAVX, V.TENVX, SUM(HV.SLX)
        FROM HOADON H
        INNER JOIN HD_VX HV ON H.MAHD = HV.MAHD
        INNER JOIN VACXIN V ON V.MAVX = HV.MAVX
        WHERE MONTH(H.THOIGIAN) = MONTH(GETDATE()) AND YEAR(H.THOIGIAN) = YEAR(GETDATE())
        GROUP BY H.THOIGIAN, V.MAVX, V.TENVX;
    END
    ELSE
    BEGIN
        INSERT INTO @bangthongke
        SELECT H.THOIGIAN, V.MAVX, V.TENVX, SUM(HV.SLX)
        FROM HOADON H
        JOIN HD_VX HV ON H.MAHD = HV.MAHD
        JOIN VACXIN V ON V.MAVX = HV.MAVX
        WHERE H.THOIGIAN = @NgayHD
        GROUP BY H.THOIGIAN, V.MAVX, V.TENVX;
    END
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[loiNhuanNgay]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create FUNCTION [dbo].[loiNhuanNgay](@NgayHD Date)
RETURNS INT
AS
BEGIN
DECLARE @loinhuan INT
SELECT @loinhuan =SUM(THANHTIEN)-SUM(SLX*GIAXUAT)
FROM HOADON HD, HD_VX HV
WHERE HD.MAHD = HV.MAHD AND THOIGIAN = @NgayHD
RETURN @loinhuan
END;
GO
/****** Object:  UserDefinedFunction [dbo].[nhapVacxin]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[nhapVacxin](@MaPN char(10))
RETURNS @bang TABLE(
	MaPN char(10),
	MaVX char(10),
	TenVX nvarchar(50),
	GiaTien INT
)
AS
BEGIN
	INSERT INTO @bang SELECT PN.MAPN, V.MAVX, V.TENVX, SUM(SLN*GIANHAP)
	FROM PHIEUNHAP PN, NHAP_VX NV, VACXIN V
	WHERE PN.MAPN = NV.MAPN AND NV.MAVX = V.MAVX AND PN.MAPN = @MaPN
	GROUP BY PN.MAPN, V.MAVX, V.TENVX
	RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[tienSuBenh]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tienSuBenh](@tiensubenh nvarchar(50))
RETURNS @bangthongke TABLE (
	MaPK CHAR(10), 
	HoTenKhachHang NVARCHAR(50),
	GioiTinh NCHAR(7),
	TGKham DATETIME ) AS
BEGIN
	IF (@tiensubenh IS NULL) OR (@tiensubenh=N'Không')
	INSERT INTO @bangthongke
	SELECT MAPK,TENKH, GT,THOIGIAN
	FROM PHIEUKHAM PK, KHACHHANG KH
	WHERE PK.MAKH = KH.MAKH
	ELSE
	INSERT INTO @bangthongke
	SELECT MAPK,TENKH, GT,THOIGIAN
	FROM PHIEUKHAM PK, KHACHHANG KH
	WHERE PK.MAKH = KH.MAKH AND TIENSUBENH = @tiensubenh
	RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[vacxinMoiKH]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[vacxinMoiKH](@MAKH CHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @Tongdung INT;
    SELECT @Tongdung = SUM(LIEULUONG)
	FROM PT_VX WHERE MAPT IN (
		SELECT MAPT FROM PHIEUTIEM WHERE MAPK IN (
			SELECT MAPK FROM PHIEUKHAM WHERE MAKH = @MAKH));
    RETURN @Tongdung;
END;
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[GT] [nchar](7) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[NGAYSINH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUKHAM]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKHAM](
	[MAPK] [char](10) NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[BACSIKHAM] [nvarchar](50) NULL,
	[THOIGIAN] [datetime] NULL,
	[TIENSUBENH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTIEM]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTIEM](
	[MAPT] [char](10) NOT NULL,
	[MAPK] [char](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[THOIGIANTIEM] [datetime] NULL,
	[BACSITIEM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[XEM]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XEM](@MAKH CHAR(10))
RETURNS TABLE
AS 
	RETURN (SELECT MAPT,TENKH,NGAYSINH, TIENSUBENH, THOIGIANTIEM	
			FROM KHACHHANG KH, PHIEUKHAM PK, PHIEUTIEM PT
			WHERE KH.MAKH = PK.MAKH AND PK.MAPK = PT.MAPK AND KH.MAKH = @MAKH)
GO
/****** Object:  Table [dbo].[VACXIN]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACXIN](
	[MAVX] [char](10) NOT NULL,
	[TENVX] [nvarchar](50) NULL,
	[NSX] [date] NULL,
	[HSD] [date] NULL,
	[SLTK] [int] NULL,
	[MAPL] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [char](10) NOT NULL,
	[TENVX] [nvarchar](50) NULL,
	[NGAYNHAP] [date] NULL,
	[NCC] [nvarchar](50) NULL,
	[THANHTIEN] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAP_VX]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP_VX](
	[MAPN] [char](10) NOT NULL,
	[MAVX] [char](10) NOT NULL,
	[SLN] [int] NULL,
	[GIANHAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[thongKeVacxin]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[thongKeVacxin](@mavx char(10))
RETURNS TABLE
AS RETURN (
SELECT PN.MAPN, V.TENVX, (SLN*GIANHAP) AS THANH_TIEN, NGAYNHAP ,PN.NCC
FROM VACXIN V, PHIEUNHAP PN, NHAP_VX NV
WHERE V.MAVX = NV.MAVX AND NV.MAPN = PN.MAPN
AND v.MAVX = @mavx)
GO
/****** Object:  Table [dbo].[HD_VX]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_VX](
	[MAHD] [char](10) NOT NULL,
	[MAVX] [char](10) NOT NULL,
	[SLX] [int] NULL,
	[GIAXUAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAVX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[MAPT] [char](10) NOT NULL,
	[THOIGIAN] [date] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [char](10) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[GT] [nchar](7) NULL,
	[NS] [date] NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[LUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAI]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAI](
	[MAPL] [char](10) NOT NULL,
	[LOAIVX] [nvarchar](50) NULL,
	[DTT] [nvarchar](50) NULL,
	[LOAIBENH] [nvarchar](50) NULL,
	[MAKHO] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PT_VX]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT_VX](
	[MAPT] [char](10) NOT NULL,
	[MAVX] [char](10) NOT NULL,
	[PUST] [nvarchar](50) NULL,
	[LIEULUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC,
	[MAVX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MANV] [char](10) NOT NULL,
	[USERNAME] [char](10) NULL,
	[PASSWORD] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HD_VX]  WITH CHECK ADD  CONSTRAINT [FK_MAHD_HD_VX] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[HD_VX] CHECK CONSTRAINT [FK_MAHD_HD_VX]
GO
ALTER TABLE [dbo].[HD_VX]  WITH CHECK ADD  CONSTRAINT [FK_MAVX_HD_VX] FOREIGN KEY([MAVX])
REFERENCES [dbo].[VACXIN] ([MAVX])
GO
ALTER TABLE [dbo].[HD_VX] CHECK CONSTRAINT [FK_MAVX_HD_VX]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_MAPT_HOADON] FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHIEUTIEM] ([MAPT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_MAPT_HOADON]
GO
ALTER TABLE [dbo].[NHAP_VX]  WITH CHECK ADD  CONSTRAINT [FK_MAPN_NHAP_VX] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[NHAP_VX] CHECK CONSTRAINT [FK_MAPN_NHAP_VX]
GO
ALTER TABLE [dbo].[NHAP_VX]  WITH CHECK ADD  CONSTRAINT [FK_MAVX_NHAP_VX] FOREIGN KEY([MAVX])
REFERENCES [dbo].[VACXIN] ([MAVX])
GO
ALTER TABLE [dbo].[NHAP_VX] CHECK CONSTRAINT [FK_MAVX_NHAP_VX]
GO
ALTER TABLE [dbo].[PHANLOAI]  WITH CHECK ADD  CONSTRAINT [FK_MAKHO_PHANLOAI] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHANLOAI] CHECK CONSTRAINT [FK_MAKHO_PHANLOAI]
GO
ALTER TABLE [dbo].[PHIEUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_MAKH_PHIEUKHAM] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUKHAM] CHECK CONSTRAINT [FK_MAKH_PHIEUKHAM]
GO
ALTER TABLE [dbo].[PHIEUTIEM]  WITH CHECK ADD  CONSTRAINT [FK_MANV_PHIEUTIEM] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTIEM] CHECK CONSTRAINT [FK_MANV_PHIEUTIEM]
GO
ALTER TABLE [dbo].[PHIEUTIEM]  WITH CHECK ADD  CONSTRAINT [FK_MAPK_PHIEUTIEM] FOREIGN KEY([MAPK])
REFERENCES [dbo].[PHIEUKHAM] ([MAPK])
GO
ALTER TABLE [dbo].[PHIEUTIEM] CHECK CONSTRAINT [FK_MAPK_PHIEUTIEM]
GO
ALTER TABLE [dbo].[PT_VX]  WITH CHECK ADD  CONSTRAINT [FK_MAPT_PT_VX] FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHIEUTIEM] ([MAPT])
GO
ALTER TABLE [dbo].[PT_VX] CHECK CONSTRAINT [FK_MAPT_PT_VX]
GO
ALTER TABLE [dbo].[PT_VX]  WITH CHECK ADD  CONSTRAINT [FK_MAVX_PT_VX] FOREIGN KEY([MAVX])
REFERENCES [dbo].[VACXIN] ([MAVX])
GO
ALTER TABLE [dbo].[PT_VX] CHECK CONSTRAINT [FK_MAVX_PT_VX]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_NV]
GO
ALTER TABLE [dbo].[VACXIN]  WITH CHECK ADD  CONSTRAINT [FK_MAPL_VACXIN] FOREIGN KEY([MAPL])
REFERENCES [dbo].[PHANLOAI] ([MAPL])
GO
ALTER TABLE [dbo].[VACXIN] CHECK CONSTRAINT [FK_MAPL_VACXIN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([GT]=N'Nữ' OR [GT]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GT]=N'Nữ' OR [GT]=N'Nam'))
GO
/****** Object:  StoredProcedure [dbo].[HoaDonDV]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Nhận tổng hóa đơn của bệnh nhân:
CREATE PROCEDURE [dbo].[HoaDonDV]
    @MAKH CHAR(10)
AS
BEGIN
	DECLARE @THANH_TIEN INT
    SELECT @THANH_TIEN = SUM(H.THANHTIEN)
    FROM HOADON H
    WHERE H.MAPT IN (
	SELECT PT.MAPT 
	FROM PHIEUTIEM PT, PHIEUKHAM PK
	WHERE PK.MAPK = PT.MAPK AND PK.MAKH = @MAKH);
	PRINT'Tong tien '+CONVERT(CHAR(10),@THANH_TIEN)
END
GO
/****** Object:  StoredProcedure [dbo].[kh_FilterKH]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[kh_FilterKH] (@MAKH char(10))
AS
BEGIN
	SELECT KH.TENKH, PK.TIENSUBENH
	FROM KHACHHANG KH 
	JOIN PHIEUKHAM PK ON KH.MAKH = PK.MAKH
	WHERE KH.MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[khachHangKham]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[khachHangKham]( @TenBS NVARCHAR(50))
AS
BEGIN
    SELECT K.MAKH, K.TENKH, K.GT, K.DIACHI, K.SDT
    FROM KHACHHANG K
    JOIN PHIEUKHAM P ON K.MAKH = P.MAKH
    WHERE P.BACSIKHAM = @TenBS;
END
GO
/****** Object:  StoredProcedure [dbo].[khoVX]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[khoVX](@MaKHO char(10))
AS
BEGIN
    DECLARE @chenhgia INT;

    SELECT @chenhgia = SUM(GIANHAP - GIAXUAT)
    FROM VACXIN V
    JOIN NHAP_VX NV ON V.MAVX = NV.MAVX
    JOIN PHANLOAI PL ON V.MAPL = PL.MAPL
    JOIN KHO K ON PL.MAKHO = K.MAKHO
    JOIN HD_VX HV ON V.MAVX = HV.MAVX
    WHERE K.MAKHO = @MaKHO;

    SELECT LOAIVX, K.MAKHO, DIACHI, @chenhgia AS ChenhGia
    FROM VACXIN V
    JOIN NHAP_VX NV ON V.MAVX = NV.MAVX
    JOIN PHANLOAI PL ON V.MAPL = PL.MAPL
    JOIN KHO K ON PL.MAKHO = K.MAKHO
    JOIN HD_VX HV ON V.MAVX = HV.MAVX
    WHERE K.MAKHO = @MaKHO
	GROUP BY LOAIVX, K.MAKHO, DIACHI
END;
GO
/****** Object:  StoredProcedure [dbo].[kiemTraBS]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[kiemTraBS](@DIACHI NVARCHAR(50))
AS
BEGIN	
	DECLARE @MAKH CHAR(10)
	SELECT @MAKH = MAKH FROM KHACHHANG WHERE DIACHI = @DIACHI
	SELECT BACSIKHAM FROM PHIEUKHAM WHERE BACSIKHAM IN (
	SELECT HOTEN FROM NHANVIEN WHERE CHUCVU = N'Bác sĩ khám')
	AND MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[kiemtraNgayTiem]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[kiemtraNgayTiem](@Ngay DATE)
AS
BEGIN
	
    SELECT PT.MAPT, THOIGIANTIEM, BACSITIEM, TENVX, LIEULUONG 
    FROM PHIEUTIEM PT, (SELECT MAPT, TENVX, LIEULUONG 
		FROM VACXIN V, PT_VX PV
		WHERE V.MAVX = PV.MAVX) 
	AS PHIEUVX
    WHERE PT.MAPT = PHIEUVX.MAPT 
	AND CONVERT(DATE,PT.THOIGIANTIEM) >= @Ngay;
END
GO
/****** Object:  StoredProcedure [dbo].[ktHSD]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ktHSD](@MaVX char(10))
AS
BEGIN
	SELECT K.MAKHO, V.TENVX, LOAIVX, HSD
	FROM KHO K, PHANLOAI PL, VACXIN V
	WHERE K.MAKHO = PL.MAKHO AND PL.MAPL = V.MAPL AND CONVERT(DATE, HSD) < GETDATE()
END
GO
/****** Object:  StoredProcedure [dbo].[timkiemKH]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[timkiemKH]
	@SearchKey nvarchar(50)
AS
BEGIN
	SELECT MAKH, TENKH, GT, DIACHI, SDT, NGAYSINH
	FROM KHACHHANG
	WHERE TENKH LIKE '%'+@SearchKey+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateKHACHHANG]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateKHACHHANG]
	@MAKH CHAR(10),
	@MAKH_OLD CHAR(10),
	@TENKH NVARCHAR(50),
	@GT CHAR(7),
	@DIACHI NVARCHAR(50),
	@SDT CHAR(10),
	@NGAYSINH DATE
AS
	BEGIN
		UPDATE [DBO].[KHACHHANG]
		SET [MAKH] = @MAKH_OLD,
			[TENKH] = @TENKH,
			[GT] = @GT,
			[DIACHI] = @DIACHI,
			[SDT] = @SDT,
			[NGAYSINH] = @NGAYSINH
		WHERE [MAKH] = @MAKH_OLD
	END
GO
/****** Object:  StoredProcedure [dbo].[UpdatetKHACHHANG]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdatetKHACHHANG] 
	@MAKH char(10),
	@MAKH_old char(10), 
	@TENKH nvarchar(50), 
	@GT char(7),
	@DIACHI nvarchar(50),
	@SDT nvarchar(max), 
	@NGAYSINH DATE
AS
	BEGIN
	UPDATE [dbo].[KHACHHANG]
	SET  [MAKH] = @MAKH
		,[TENKH] = @TENKH
		,[GT] = @GT
		,[DIACHI]=@DIACHI
		,[SDT] = SDT
		,[NGAYSINH] = @NGAYSINH
	WHERE [MAKH] = @MAKH_old
END
GO
/****** Object:  StoredProcedure [dbo].[vacxinTrongKho]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[vacxinTrongKho](@TenKho NVARCHAR(50))
AS
BEGIN
    SELECT V.MAVX, V.TENVX, V.NSX, V.HSD, V.SLTK
    FROM VACXIN V
    WHERE V.MAPL IN 
	(SELECT PL.MAPL FROM PHANLOAI PL WHERE PL.MAKHO IN 
	(SELECT K.MAKHO FROM KHO K WHERE K.TENKHO = @TenKho));
END
GO
/****** Object:  StoredProcedure [dbo].[vacxinTuNhaCC]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[vacxinTuNhaCC](@nhaCC VARCHAR(100))
AS
BEGIN
    SELECT PN.MAPN, PN.NGAYNHAP, NV.SLN, V.TENVX, (SLN*GIANHAP) AS THANH_TIEN
    FROM PHIEUNHAP PN
	JOIN NHAP_VX NV ON PN.MAPN = NV.MAPN
    JOIN VACXIN V ON NV.MAVX = V.MAVX
    WHERE PN.NCC = @nhaCC
    AND V.MAVX IN (
        SELECT MAVX FROM VACXIN WHERE TENVX IN (
            SELECT TENVX FROM VACXIN WHERE NCC = @nhaCC
        )
    );
END
GO
/****** Object:  StoredProcedure [dbo].[VX_FilterVX1]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[VX_FilterVX1]
@MAPL char(10)

AS
BEGIN
SELECT [MaVX] , 
		 [TenVX],
		 [NSX],
		 [HSD] ,
		 [SLTK],
		 [MAPL]
FROM [VACXIN]
WHERE [MAPL]=@MAPL

END

--------Xây dựng thủ tục tìm kiếm sản phẩm theo tên -----------

SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[xemPhieuTiem]    Script Date: 08/05/2024 2:02:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[xemPhieuTiem](@TENKH NVARCHAR(50))
AS 
	BEGIN
	DECLARE @MAKH CHAR(10)
	SELECT @MAKH = MAKH FROM KHACHHANG WHERE TENKH = @TENKH
	PRINT'THONG TIN'
	SELECT *FROM PHIEUTIEM WHERE MAPK IN 
	(SELECT MAPK FROM PHIEUKHAM WHERE MAKH = @MAKH)
END
GO
USE [master]
GO
